

/* [data-testid="stWidgetLabel"] {
    display: none;
} */

/* div [data-testid="stMarkdownContainer"] {
    display: none;
} */

/* targets the label for the "text input" query box */
/* div [data-testid="stWidgetLabel"] > div:nth-child(1) {
    display: none;
} */

.stButton {
    display: flex;
    justify-content: right;
}

[data-testid="InputInstructions"] {
    display: none;
}

/* targets the "location type" drop down selector and the "search radius units" drop down selector */
#root > div:nth-child(1) > div.withScreencast > div > div > section > div.stMainBlockContainer > div > div > div > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(2),
#root > div:nth-child(1) > div.withScreencast > div > div > section > div.stMainBlockContainer > div > div > div > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2) {
    max-width: 125px;
}


/* Header styling */
div [data-testid="stHeader"] {
    display: none;
}

.stHeading {
position: fixed;  /* Keeps it at the top */
top: 0;           /* Aligns it to the top */
left: 0;          /* Aligns it to the left */
padding: 10px 20px;
color: grey;           /* White text */
font-weight: bold;       /* Makes the text bold */
z-index: 10001;           /* Ensures the header is above other content */
}

#tactical-ope-toolkit {
    font-size: 18px !important;
}



/* input box styling */

/* the 'search radius' input box */
/* .stTextInput input[aria-label="search radius"] {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
    color: var(--text-color);
} */

div [data-baseweb="base-input"] {
    background-color: rgba(138, 146, 146, 0.1);
    /* box-shadow: inset 2px -2px 1px 0px rgba(70, 69, 69, 0.1) !important */
}






/* hides some streamlit 'tool' that pops up on the map chip */
div[data-testid="stElementToolbar"] {
    display: none !important;
}

/* hides the js div, script, doc, that is created in order to enable the auto-scroller */
iframe[data-testid="stIFrame"] {
    display: none !important;
}



/* adjusting the sizing of the containers to align the "cancel" and "submit" buttons */
#root > div:first-child > div.withScreencast > section > div.stMainBlockContainer.block-container > div > div > div > div.stHorizontalBlock > div:nth-child(2){
    background-color: rgb(47, 0, 255);
    max-width: calc(16% - 1rem);
}

#root > div:nth-child(1) > div.withScreencast > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-yw8pof.ekr3hml4 > div > div > div > div.stHorizontalBlock.st-emotion-cache-ocqkz7.eiemyj0 > div:nth-child(2) {
    max-width: calc(16% - 1rem);
}




  



