
#MainMenu {visibility: hidden;}  /* Hide the hamburger menu */
footer {visibility: hidden;}     /* Hide the footer */
header {visibility: hidden;}     /* Hide the header */

h3 {
    margin-left: -80px !important;
    margin-top: -80px !important;
    position: absolute !important;  
    left: 1% !important; 
    font-size: 24px !important;
}

[data-testid="InputInstructions"] {
    display: none;
}

/* hides the js div, script, doc, that is created in order to enable the auto-scroller */
iframe[data-testid="stIFrame"] {
    display: none !important;
}

/* sets the width of any validation errors that occur when dropping a pin */
div.stVerticalBlock.st-key-pin_controls div[data-testid="stAlert"] {
min-width: 300px;
}

/* ensures the bounding box buttons are aligned properly */
.stElementContainer[class*='st-key-draw_box_button'] {
    width: 160px !important;
}

/* sets the width of any validation errors that occur when drawing a box */
div.stVerticalBlock.st-key-box_controls div[data-testid="stAlert"] {
    min-width: 300px;
}

div.stVerticalBlock.st-key-review-submit-container div[data-testid="stColumn"]:first-of-type {
    border-right: 1px solid rgb(168, 163, 168);
}

/* this is targeting the time/cost predictor in the "Query Options" section */
#root > div:nth-child(1) > div.withScreencast > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-1ibsh2c.ekr3hml4 > div > div > div > div.stHorizontalBlock.st-emotion-cache-ocqkz7.eiemyj0 > div:nth-child(2) {
    max-width: 500px;
}

div[data-baseweb="input"][data-testid="stTextInputRootElement"]:has(input[placeholder="lat, lon"]) {
    min-width: 335px !important;
  }

div[data-baseweb="input"][data-testid="stTextInputRootElement"]:has(input[placeholder="sw coordinate"]) {
min-width: 335px !important;
}

div[data-baseweb="input"][data-testid="stTextInputRootElement"]:has(input[placeholder="ne coordinate"]) {
min-width: 335px !important;
}

/* div[data-testid="stTextInputRootElement"] {
    min-width: 335px;
} */

/* div[data-testid="stTextInputRootElement"].st-key-location_input {
    min-width: 335px;
}

div[data-testid="stTextInputRootElement"] input[placeholder="sw coordinate"] {
    min-width: 335px;
}

div[data-testid="stTextInputRootElement"] input[placeholder="ne coordinate"] {
    min-width: 335px;
} */

/* div[data-testid="stTextInputRootElement"] input[aria-label="location"] {
    min-width: 400px;
} */

/* this is targeting the 'Add Pin' button inside the Add pin popover */
/* div[data-testid="stElementContainer"].st-key-add_pin_button button.st-emotion-cache-ocsh0s {
    margin-left: 80px;
} */

/* div[data-testid="stElementContainer"].st-key-add_pin_button button[data-testid="stBaseButton-secondary"] {
    margin-left: 80px;
} */

/* this is targeting the "Add Bounding Box" button inside the "Add Bounding Box" popover */
/* div[data-testid="stElementContainer"].st-key-draw_box_button button.st-emotion-cache-ocsh0s {
    margin-left: 80px;
    margin-top: 55px
} */

div[data-testid="stElementContainer"].st-key-add_pin_button button[data-testid="stBaseButton-secondary"] {
    margin-left: 80px;
}

div[data-testid="stElementContainer"].st-key-draw_box_button button[data-testid="stBaseButton-secondary"] {
    margin-left: 80px;
    margin-top: 55px
}
