
#MainMenu {visibility: hidden;}  /* Hide the hamburger menu */
footer {visibility: hidden;}     /* Hide the footer */
header {visibility: hidden;}     /* Hide the header */

h3 {
    margin-left: -80px !important;
    margin-top: -85px !important;
    position: absolute !important;  
    left: 1% !important; 
    font-size: 24px !important;
    
}

[data-testid="InputInstructions"] {
    display: none;
}

/* hides the js div, script, doc, that is created in order to enable the auto-scroller */
iframe[data-testid="stIFrame"] {
    display: none !important;
}


/* map tab buttons styling */
.stVerticalBlock[class*='st-key-pin_controls'] {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
  }

.stVerticalBlock[class*='st-key-box_controls'] {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
}

.stElementContainer[class*='st-key-add_pin_button'] {
    width: 80px !important;
}

.stElementContainer[class*='st-key-draw_box_button'] {
    width: 160px !important;
}
